body {
  background-color: #0D2321;
}

.container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.margin-auto {
  margin: auto;
}
.center {
  text-align: center;
}

.debug {
  /*outline: 1px solid black;*/
}

.icon-row {
  text-align: center;
}

a:hover {
  color: #A50217;
}

.active {
  color: #A50217;
}

a {
 color: #FFAE20;
}

.icon {
  height: 5em;
  width: 5em;
  cursor: pointer;
  cursor: hand;
}

.icon-small {
  height: 5em;
  width: 5em;
}

.iconify {
  border-radius: 50%;
}

.hidden {
  visibility: hidden;
}

.projectBar {
  height: 0em;
}

.projectDetailsWindow {
  height: 0em;
}

.inline {
  display: inline-block;
}

h1.inline {
  vertical-align: text-bottom;
}