* {
	color: #C3FFD4;
}

body { 
	background-color: #0D2321;
 }

.well { 
	background-color:  #0B464C;
	border: 1px solid #16816D;
}

.container-fluid {  
	margin-top: 2em;
}

div > h1 {
	margin-top: 0em;
}

.shop-box {

}

.item-desc {
	min-height: 10em;
}

.item-name {
	font-weight: bold;
	min-height: 3em;
}

.item-cost {
	font-weight: bold;
}

h3 {
	margin-top: 0em;
}

.btn:focus, .btn:active {
	outline: none;
}