nav {
	margin-bottom: 1em;
}

.grill {
	outline: 1px solid black;
	width: 8em;
	height: 8em;
	overflow: auto;
	/*margin-right: .75em;*/
}

.individual-order {
	z-index: 100;
	max-width: 8em;
}

.grill .individual-order {
	z-index: 100;
	width: 6em;
	outline: 1px dotted black;
	padding-left: 0px;
	margin-left: 0px;
}

.grill .individual-order h5 {
	margin-bottom: 0px;
	font-size: 1em;
}

.highlight {
	background-color: yellow;
}

.grill-panel {
	height: 15em;
}

.complete-order {
	outline: 1px solid black;
}

.complete-orders-box {
	height: 20em;
}